<%= form_for @user do |u| %>
  <label>First name
    <%= u.text_field :fname, placeholder: 'First name' %>
  </label>
  <label>Last name
    <%= u.text_field :lname, placeholder: 'Last name' %>
  </label>
  <label>Email
    <%= u.text_field :email, placeholder: 'Email address' %>
  </label>
  <label>Password
    <%= u.password_field :password, placeholder: 'Password' %>
  </label>
  <%= u.submit 'Save user', class: 'button' %>
<% end %>